<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{course.Title}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-6">
          Course ID
        </div>
        <div class="col-xs-6">
          : {{course.StudentCourse_ID}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Course Title
        </div>
        <div class="col-xs-6">
          : {{course.Title}}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary" [routerLink]="['/StudentCourse']" queryParamsHandling="preserve">Back to the list</a>
  </div>
</div>
 -->

 <div class="p-5">
  <div>
    <h2>Course Title</h2>
    <h3 class="m-6">{{course.Title}}</h3>
  </div>
 </div>