<!-- <div class="panel panel-primary" *ngIf="book">
  <div class="panel-heading">
    <h3 class="panel-title">{{book.Title}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-6">
          Book Title
        </div>
        <div class="col-xs-6">
          : {{book.Title}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Book Author
        </div>
        <div class="col-xs-6">
          : {{book.Author}}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary" [routerLink]="['/Book']" queryParamsHandling="preserve">Back To List</a>
  </div>
</div> -->

<div class="p-5">
  <div class="mb-3">
    <h2>Book Title</h2>
    <h3 class="m-6">{{book.Title}}</h3>
  </div>
  <div>
    <h2>Book Author</h2>
    <h3 class="m-6">{{book.Author}}</h3>
  </div>
</div>